<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BanqueWebServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.10.1:8585/BWS" binding="basicHttpBinding"
                bindingConfiguration="BanqueWebServicePortBinding" contract="Service.BanqueWebService"
                name="BanqueWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>